p { font-family: Cambria; }

a {
    text-decoration: none;
}

a:link {
    color: #181818;
    border-bottom: solid thin #d6ceba;
    font-weight: bold;
}

a:visited {
    color: #000000;
    border-bottom: solid thin #d6ceba;
}

a:hover {
    color: #fff;
    border-bottom: none;
    background: #181818;
}

a:active {
    color: #fff;
    background: #000;
    border-bottom: dotted thin #d6ceba;
}


body {
    font-family: 'Computer Modern Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
    background-image: url(Iguazú.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
    color: #000;
    
    border-width: 5px;
    
}

/* .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 95%;
    background-color: rgba(255, 255, 255, 1); /* White with 70% opacity */
    /* z-index: 1; Ensure the overlay is above other elements */
    /* box-sizing: border-box; Include padding and border in the element's total width and height */
    /* padding: 20px; Add padding to create a frame effect */
   
/* }  */

.container {
    position: relative;
    max-width: 100%;
    margin: 2em auto;
    padding: 0 1em;
    z-index: 2; /* Ensure the content is above the overlay */
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
}



header {
    border: solid #597091;
    padding: 40px;
    padding-bottom: 30px;
    background: #ffffff;
    text-align: center;
    
}

h1 {
    font-size: 2em;
    margin: 0;
}

.career {
    font-style: italic;
    margin: 0.5em 0;
}

nav {
    margin-top: 1em;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 1em;
    transition: text-decoration 0.3s; /* Add smooth transition */
}


hr {
    border: 0;
    border-top: 1px solid #000;
    width: 65%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the line */
}

.bio {
    border: solid #597091;
    padding: 40px;
    background: #ffffff;
}

.bio li {
    font-family: 'Cambria', sans-serif;
}

.description {
    margin-top: 1em;
}

 
.image-container {
    text-align: center;
}

img {
    height: auto; /* Set the desired height for your image */
    width: auto; /* Automatically calculate the width to maintain proportion */
    margin: 1em;
    max-width: 70%;
}

.image-description {
    font-style: italic;
    margin: 0em 0.5em;
}

video {
    max-width: 70%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    

}
